
@media (min-width: 359px) and (max-width:768px){
    .container_form_General{
        display: flex;
        flex-direction: column;
        .container_image{
            display: grid;
            width: 100%;
            align-items: center;
            margin-bottom: 50px;
        }
    }
}