@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    border: 5px inset #fff;

    background-color: #093040;
    color: #fff;
  }
}

header {
  .primary-container {
    width: 100%;
    @include mobile {
      background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
      margin-bottom: 70px;
      padding-top: 60px;
      width: 100%;
      height: 100%;
    }
    @include tablet {
      margin-bottom: 100px;
      padding-top: 60px;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
    }
    @include desktop {
      margin-bottom: 100px;
      padding-top: 60px;
      background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
    }
    .match {
      @include mobile {
        @include poppins;
        font-size: 22px;
        color: #093040;
        padding: 10px 20px 0 20px;
        text-align: center;
      }
      @include tablet {
        @include poppins;
        font-size: 20px;
        text-align: center;
        color: #093040;
        margin-top: 50px;
      }
      @include desktop {
        @include poppins;
        text-align: center;
        align-items: center;
        text-indent: 100px;
        font-size: 31px;
        line-height: 48px;
        color: #093040;
      }
    }
    .text-mobile {
      @include mobile {
        @include text-center-mobile();
        font-weight: bold;
        color: #093040;
        padding: 10px 20px 0 20px;
      }
      @include tablet {
        @include text-center-mobile();
        font-weight: bold;
        color: #093040;
      }
    }

    .last-container {
      .row-last-container {
        .col-last-container {
          .letters-1 {
            @include desktop {
              @include letras;
              display: flex;
              align-items: flex-start;
              margin-left: 20px;
            }

            @include mobile {
              margin-right: 2rem;
            }
            .last-text {
              @include mobile {
                font-size: 24px;
                line-height: 7vw;
                margin-bottom: 2rem;
                margin-top: 2rem;
                word-wrap: break-word;
                color: #093040;
              }
              @include tablet {
                font-size: 24px;
                line-height: 7vw;
                margin-bottom: 2rem;
                margin-top: 2rem;
                word-wrap: break-word;
                color: #093040;
              }
            }
          }
          .jobs {
            @include mobile {
              @include montserrat();
              text-align: center;
              padding-right: 0;
              margin-bottom: 2rem;
              color: #093040;
            }
            @include tablet {
              @include montserrat();
              text-align: center;
              padding-right: 0;
              margin-bottom: 2rem;
              color: #093040;
            }
            @include desktop {
              display: flex;
              @include montserrat();
              margin-left: 440px;
              font-size: 16px;
              color: #093040;
            }
          }
        }
      }
      .row-checkmarks {
        @include glassEffect;
        .col-checkmarks {
          @include mobile {
            display: none;
          }
          @include tablet {
            display: none;
          }
          .profile-pic {
            @include mobile {
              display: none;
            }
            @include tablet {
              display: none;
            }
            @include desktop {
              width: 341px;
              height: 316px;
              margin-top: 10px;
              padding: 10px;
            }
          }
        }
        .down-cards {
          .final-text {
            @include mobile {
              display: none;
            }
            @include tablet {
              display: none;
            }
            @include desktop {
              @include montserrat();
              font-size: 28px;
              line-height: 42px;
              display: flex;
              justify-content: start;
              color: black;
              margin-top: 3rem;
            }

            strong {
            }
          }
          .slogan {
            @include mobile {
              display: none;
            }
            @include tablet {
              display: none;
            }
            @include desktop {
              @include poppins();
              margin-top: 1rem;
            }
          }
          .check-list {
            padding: 20px;
            .li-register {
              @include mobile {
                color: black;
                @include poppins();
              }
              @include tablet {
                color: black;
                @include poppins();
              }
              @include desktop {
                color: black;
                @include poppins();
              }

              .icon-check {
                margin-right: 1rem;
                @include mobile {
                  margin-right: 0.5rem;
                }
              }
            }
            .li-register {
              @include mobile {
                line-height: 50px;
                padding: 0;
              }
              .icon-check {
                @include mobile {
                  margin-right: 0.5rem;
                }
              }
            }
            .li-register {
              @include mobile {
                line-height: 50px;
                padding: 0;
              }
              .icon-check {
                @include mobile {
                  margin-right: 0.5rem;
                }
                @include tablet {
                  margin-right: 0.5rem;
                }
              }
            }
            .li-register {
              @include mobile {
                line-height: 50px;
                padding: 0;
              }
              @include tablet {
                line-height: 50px;
                padding: 0;
              }
              @include desktop {
                line-height: 40px;
              }
              .icon-check {
                @include mobile {
                  margin-right: 0.5rem;
                }
              }
            }
          }
          .last-create-account {
            .btn-create-acc {
              @include mobile {
                display: none;
              }

              @include tablet {
                display: none;
              }

              @include desktop {
                @include poppins();
                margin: 20px;
                padding: 10px 20px 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}
