/* 
@media (min-width: 542px) and (max-width:768px){
    .container_form_General{
        display: flex;
        flex-direction: column;
        .container_image{
            width: 100%;
            align-items: center;
            margin-bottom: 50px;
        }
    }
} */

@mixin mobile{
  @media screen and (min-width: 0px) and (max-width: 600px) {
    @content;
    
  }
  }

 @mixin tablet{
  @media screen and (min-width: 601px) and (max-width: 1000px)  {
    @content;
} 
}
@mixin desktop{
    @media screen and (min-width: 1001px)  {
      @content;
    }
}