.main-t {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.table-1 {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  .thead-table {
    tr {
      background-color: #498ba6;
      color: #ffff;
      text-align: left;
      font-weight: bold;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddd;

      &:nth-child(even) {
        background-color: #ffff;
      }

      &:hover {
        background: rgba(33, 159, 210, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
      }
    }
  }

  th,
  td {
    padding: 12px 15px;
  }
}

.tr-t {
  background-color: #498ba6;
  color: #ffff;
  text-align: left;
  font-size: 18px;
  font-family: 'Poppins', sans-serif,'Times New Roman', Times, serif;
  font-weight: bold;

  &:hover {
    background: rgba(33, 159, 210, 0.3);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
  }
}

.tr-2 {
  color: #000;
  font-family: 'Poppins', sans-serif 'Times New Roman', Times, serif;
}

.options_buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
