.logo{
    font-family: 'EB Garamond', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}
.inicio{
    width: 200px;
    height: 36px;
    background-color: #498BA6;

}