@mixin dzone{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    height: 100%;

}
@mixin cuerpo{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}
@mixin columnas{
    display: flex;
    flex-direction: column;
    background-color: #EBFDFF;
    width: 400px;
    min-height: 100px;
    padding: 24px 12px;
    border-radius: 8px;
    border-top: 7px solid;
    box-shadow: 0 8px 16px rgba(#333, 0.1);
}
@mixin element{
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #5b5b73;
   padding: 0 12px 15px 12px;

}
.main{
    h1{
       

    }
    .drag-and-drop{
        display: flex;
        grid-gap: 40px;
        .column--1{
            border-color: #FF9E4A;
            @include columnas();
            h3{

            }
            .dd-zone{
                @include dzone();
                .dd-element{
                    @include element();
                    .body{
                        @include cuerpo()

                    }
                }

            }

        }
        .column--2{
            border-color: #C56BE2;
            @include columnas();
            h3{

            }
            .zona2{
                @include dzone();
                .elem2{
                    @include element();
                    .body2{
                        @include cuerpo();

                    }

                }

            }
        }
        .column--3{
            border-color: #6FD2AF;
            @include columnas();
            h3{
            
            }
            .zona3{
                @include dzone();
                .elem3{
                    @include element();
                    .body3{
                        @include cuerpo();
    
                    }
                }
                
                
            }
        }
        .column--4{
            border-color: #6FD2AF;
            @include columnas();
            h3{

            }
            .zona4{
                @include dzone();
                .elem4{
                    @include element();
                    .body4{
                        @include cuerpo();
                    }

                }
            }
        }
    }
}
