.main {
  margin: 3rem 5rem 5rem;
}
.main h1 {
  text-align: center;
}
.main .drag-and-drop {
  display: flex;
  grid-gap: 50px;
}
.main .drag-and-drop .column--1 {
  display: flex;
  flex-direction: column;
  background-color: #498BA6;
  width: 400px;
  min-height: 100px;
  padding: 24px 12px;
  border-radius: 8px;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(51, 51, 51, 0.1);
}
.main .drag-and-drop .column--1 h3 {
  text-align: center;
  color: azure;
}
.main .drag-and-drop .column--1 .dd-zone {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100%;
}
.main .drag-and-drop .column--1 .dd-zone .dd-element {
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #5b5b73;
  padding: 0 12px 15px 12px;
}
.main .drag-and-drop .column--1 .dd-zone .dd-element .body {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}
.main .drag-and-drop .column--2 {
  display: flex;
  flex-direction: column;
  background-color: #498BA6;
  width: 400px;
  min-height: 100px;
  padding: 24px 12px;
  border-radius: 8px;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(51, 51, 51, 0.1);
}
.main .drag-and-drop .column--2 h3 {
  text-align: center;
  color: azure;
}
.main .drag-and-drop .column--2 .zona2 {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100%;
}
.main .drag-and-drop .column--2 .zona2 .elem2 {
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #5b5b73;
  padding: 0 12px 15px 12px;
}
.main .drag-and-drop .column--2 .zona2 .elem2 .body2 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}
.main .drag-and-drop .column--3 {
  display: flex;
  flex-direction: column;
  background-color: #498BA6;
  width: 400px;
  min-height: 100px;
  padding: 24px 12px;
  border-radius: 8px;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(51, 51, 51, 0.1);
}
.main .drag-and-drop .column--3 h3 {
  text-align: center;
  color: azure;
}
.main .drag-and-drop .column--3 .zona3 {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100%;
}
.main .drag-and-drop .column--3 .zona3 .elem3 {
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #5b5b73;
  padding: 0 12px 15px 12px;
}
.main .drag-and-drop .column--3 .zona3 .elem3 .body3 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}
.main .drag-and-drop .column--4 {
  display: flex;
  flex-direction: column;
  background-color: #498BA6;
  width: 400px;
  min-height: 100px;
  padding: 24px 12px;
  border-radius: 8px;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(51, 51, 51, 0.1);
}
.main .drag-and-drop .column--4 h3 {
  text-align: center;
  color: azure;
}
.main .drag-and-drop .column--4 .zona4 {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100%;
}
.main .drag-and-drop .column--4 .zona4 .elem4 {
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #5b5b73;
  padding: 0 12px 15px 12px;
}
.main .drag-and-drop .column--4 .zona4 .elem4 .body4 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}/*# sourceMappingURL=draganddrop.css.map */